
*.pyc
*.jar
*.pbf
*.zip

src.egg-info/*
*.egg-info/*
__pycache__/


results/*
data/input/*
data/processed/*

illustrations/*.png
illustrations/*.parquet

otp/Rejseplanen+NeTEx/
otp/report/
otp/graph.obj

data/otp_results.db
data/otp_results.db.wal

image.png
scripts/.ipynb_checkpoints/*
run/.ipynb_checkpoints/*

test/*.gpkg
test/no_train_connection.qmd
test/no_train_connection.parquet
test/destinations_test/*
test/result_data_test/*
test/result_plots_test/*


todo.md
notes.md
prelim-results-service-access.md
comparison-cvr-osm-destination-data.md
resultater.qgz
