

*.pyc
*.jar
*.pbf
*.zip

src.egg-info/*
*.egg-info/*

results/*
data/input/*
data/processed/*

illustrations/*.png
illustrations/*.parquet

otp/Rejseplanen+NeTEx/
otp/report/
otp/graph.obj


data/otp_results.db
data/otp_results.db.wal



todo.md
prelim-results-service-access.md
comparison-cvr-osm-destination-data.md
resultater_subset.qgz
resultater.qgz
